.u-lContent 
{
    a[href]
    {
        transition: background-color $ease, border $ease, color $ease;
    }

    a[href]:focus,
    a[href]:hover
    {
        background-color: $linkColor;
        color: $secondaryColor;
    }

    a[href]:focus,
    a[href]:hover
    {
        border-radius: .25em;    
    }

    a[href]:visited
    {
        border-bottom-color: $linkColorVisited;
    }

    a[href]:visited:focus,
    a[href]:visited:hover
    {
        background-color: $linkColorVisited;
        color: $secondaryColor;
    }
    
    a:not([href])
    {
        color: inherit;
    }
}

html
{
    color:#444;
}
