$lineHeight: 1.4;

a
{
    padding: 0 .125em;
}

html {
	font-family: $sans-serif;
	font-size: 100%;
    font-variant: oldstyle-nums;
	font-weight: normal;
	line-height: $lineHeight;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    margin-bottom: 0;
    padding-top: 0;
}


ul,
ol
{
    margin-top: .25em;
/*    padding-left: 0;
    */
}

ul
{
    list-style: circle;    
}

.Module--sidebar .Module__link
{
	font-weight: normal;
}

.u-Figure__caption
{
	font-size: .8em;
	font-weight: 100;
}

.u-lAside
{
	h1
    {
		font-size: 1.953em;
	}

	h2
    {
		font-size: 1.562em;
	}

	h3
    {
		font-size: 1.25em;
	}

	h4 
    {
		font-size: 1em;
	}

	h5
    {
		font-size: .9em;
	}
	
    h6
    {
		font-size: .8em;
	}
	
    
	ul,
	ol
    {
		margin-bottom: .64em;
	}

	li
    {
		line-height: 1.2;
		margin-bottom: .327em;
	}
}

.u-lContent
{
    font-size: 1em;
	margin-bottom: 1.25em;
}

h1,
h2, 
h3, 
h4, 
h5, 
h6
{
	font-family: $serif;
    font-weight: normal;
	line-height: 1.2;
	margin-bottom: .25em;
	margin-top: 1em;
}

.u-lContent
{
    h1,
    h2, 
    h3, 
    h4, 
    h5, 
    h6
    {
        text-indent: -.05em;    
    }
    
    [href*=".pdf"]
    {
       background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 551 551"><style>path{fill:%23e01f00}path[fill="%23fff"]{fill:%23fff}<\/style><path fill="%23fff" d="M86 540V11h229l149 160v369z"/><path d="M310 22l75 80 67 73v354H98V22h213m10-22H75v551h399V166l-73-79-81-87z"/><path d="M0 220h551v264H0z"/><path d="M310 175V0l165 175z"/><path fill="%23fff" d="M155 363c-9 8-22 12-40 12H82v63H50V263h68c15 0 28 5 37 14s14 23 14 42c0 20-5 35-14 44zm-25-63c-4-4-10-6-18-6H83v51h29c8 0 14-2 18-6s6-11 6-20-2-16-6-19zm175-33c11 4 20 12 27 22 5 9 9 18 11 29l3 28c0 24-4 43-13 59a56 56 0 0 1-53 33h-68V263h68l25 4zm-61 27v114h31c15 0 26-9 33-26 3-9 5-20 5-33 0-18-3-32-8-41-5-10-15-14-30-14h-31zm144-30h112v30h-80v41h70v30h-70v73h-33V264z"/></svg>'),linear-gradient(transparent, transparent);        
        background-position: right;
        background-repeat: no-repeat;
        background-size: 1em;
        margin-right: .25em;
        padding-right: 1.25em;
    }
    
    [href*=".pdf"]:hover
    {
        background-image:url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 551 551"><style>path{fill:%23fff}path[fill="%23fff"]{fill:%23e01f00}<\/style><path fill="%23fff" d="M86 540V11h229l149 160v369z"/><path d="M310 22l75 80 67 73v354H98V22h213m10-22H75v551h399V166l-73-79-81-87z"/><path d="M0 220h551v264H0z"/><path d="M310 175V0l165 175z"/><path fill="%23fff" d="M155 363c-9 8-22 12-40 12H82v63H50V263h68c15 0 28 5 37 14s14 23 14 42c0 20-5 35-14 44zm-25-63c-4-4-10-6-18-6H83v51h29c8 0 14-2 18-6s6-11 6-20-2-16-6-19zm175-33c11 4 20 12 27 22 5 9 9 18 11 29l3 28c0 24-4 43-13 59a56 56 0 0 1-53 33h-68V263h68l25 4zm-61 27v114h31c15 0 26-9 33-26 3-9 5-20 5-33 0-18-3-32-8-41-5-10-15-14-30-14h-31zm144-30h112v30h-80v41h70v30h-70v73h-33V264z"/></svg>');
    }
    
    h1
    {
        font-size: 2.75em;
        margin-top: 0;
    }

    h2
    {
        font-size: 1.95em;
    }

    h3
    {
        font-size: 1.4em;
    }

    h4
    {
        font-size: 1em;
    }

    h5
    {
        font-size: 1em;
    }

    h6
    {
        font-size: .8em;
        margin-top: 1.4em;
    }
    
    h2 a,
    h3 a,
    h4 a,
    h5 a,
    h6 a
    {
        border: none;
        font-weight: inherit;
    }
    
    li
        {
        margin: 0 0 0.327em;
    }

    ol
    ul,
    {
        margin: .64em 0;
    }

    p
    {
        line-height: $lineHeight;
        margin: 0 0 .75em 0;
    }

    td,
    th,
    li
    {
        line-height: 1.2;
    }

    th
    {
        font-weight: $fontWeightBold;
    }

}

.u-pageTitle
{
	font-weight: 300;
	margin-top: 0;
}


@media screen and (min-width:$small)
{
    .u-lMain
    {
        font-size: 1.2em;
    }
}

@media screen and (min-width:$large)
{
    .u-lMain
    {
        font-size: 1.4em;
    }
}
