/*    TYPOGRAPHY
	========== */
/*	LAYOUT
	====== */
/* Site breakpoints */
/* The padding on u-lHeader, u-lMain, u-lFooter, and u-NavSite. */
/* COLOR
	====== */
/* Basic link colors - these colors also affect the Google Search result link colors */
/* Footer */
/* Images */
/*	Google search results  */
/* Currently being overridden by something in Google's default CSS */
/* The numbers that represent pages of search results */
/* LATEST Modules basic */
/* Use these variables to place a bg color on side news announcement items */
/* Nav */
/*	Search
	------ */
/*	Up until this point, the search box will be positioned
	over the masthead, so as not to overlap it. This point
	depends on how wide the site masthead is. Keep increasing it
	until the search box no longer overlaps the masthead.
*/
/*	Mobile search colors
	-------------------- */
/*	Mobile search and menu colors
	----------------------------- */
/* The background color of a button, when activated */
/*	Mobile search colors
	-------------------- */
/* The background of the "Vassar College" area */
/* The background of the search and menu buttons */
/* The color of the search icon and Menu text */
/* The color of the space between search and menu */
a {
  padding: 0 .125em; }

html {
  font-family: "source-sans-pro", sans-serif;
  font-size: 100%;
  font-variant: oldstyle-nums;
  font-weight: normal;
  line-height: 1.4; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  margin-bottom: 0;
  padding-top: 0; }

ul,
ol {
  margin-top: .25em;
  /*    padding-left: 0;
      */ }

ul {
  list-style: circle; }

.Module--sidebar .Module__link {
  font-weight: normal; }

.u-Figure__caption {
  font-size: .8em;
  font-weight: 100; }

.u-lAside h1 {
  font-size: 1.953em; }
.u-lAside h2 {
  font-size: 1.562em; }
.u-lAside h3 {
  font-size: 1.25em; }
.u-lAside h4 {
  font-size: 1em; }
.u-lAside h5 {
  font-size: .9em; }
.u-lAside h6 {
  font-size: .8em; }
.u-lAside ul,
.u-lAside ol {
  margin-bottom: .64em; }
.u-lAside li {
  line-height: 1.2;
  margin-bottom: .327em; }

.u-lContent {
  font-size: 1em;
  margin-bottom: 1.25em; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "source-serif-pro", serif;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: .25em;
  margin-top: 1em; }

.u-lContent h1,
.u-lContent h2,
.u-lContent h3,
.u-lContent h4,
.u-lContent h5,
.u-lContent h6 {
  text-indent: -.05em; }
.u-lContent [href*=".pdf"] {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 551 551"><style>path{fill:%23e01f00}path[fill="%23fff"]{fill:%23fff}</style><path fill="%23fff" d="M86 540V11h229l149 160v369z"/><path d="M310 22l75 80 67 73v354H98V22h213m10-22H75v551h399V166l-73-79-81-87z"/><path d="M0 220h551v264H0z"/><path d="M310 175V0l165 175z"/><path fill="%23fff" d="M155 363c-9 8-22 12-40 12H82v63H50V263h68c15 0 28 5 37 14s14 23 14 42c0 20-5 35-14 44zm-25-63c-4-4-10-6-18-6H83v51h29c8 0 14-2 18-6s6-11 6-20-2-16-6-19zm175-33c11 4 20 12 27 22 5 9 9 18 11 29l3 28c0 24-4 43-13 59a56 56 0 0 1-53 33h-68V263h68l25 4zm-61 27v114h31c15 0 26-9 33-26 3-9 5-20 5-33 0-18-3-32-8-41-5-10-15-14-30-14h-31zm144-30h112v30h-80v41h70v30h-70v73h-33V264z"/></svg>'), linear-gradient(transparent, transparent);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 1em;
  margin-right: .25em;
  padding-right: 1.25em; }
.u-lContent [href*=".pdf"]:hover {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 551 551"><style>path{fill:%23fff}path[fill="%23fff"]{fill:%23e01f00}</style><path fill="%23fff" d="M86 540V11h229l149 160v369z"/><path d="M310 22l75 80 67 73v354H98V22h213m10-22H75v551h399V166l-73-79-81-87z"/><path d="M0 220h551v264H0z"/><path d="M310 175V0l165 175z"/><path fill="%23fff" d="M155 363c-9 8-22 12-40 12H82v63H50V263h68c15 0 28 5 37 14s14 23 14 42c0 20-5 35-14 44zm-25-63c-4-4-10-6-18-6H83v51h29c8 0 14-2 18-6s6-11 6-20-2-16-6-19zm175-33c11 4 20 12 27 22 5 9 9 18 11 29l3 28c0 24-4 43-13 59a56 56 0 0 1-53 33h-68V263h68l25 4zm-61 27v114h31c15 0 26-9 33-26 3-9 5-20 5-33 0-18-3-32-8-41-5-10-15-14-30-14h-31zm144-30h112v30h-80v41h70v30h-70v73h-33V264z"/></svg>'); }
.u-lContent h1 {
  font-size: 2.75em;
  margin-top: 0; }
.u-lContent h2 {
  font-size: 1.95em; }
.u-lContent h3 {
  font-size: 1.4em; }
.u-lContent h4 {
  font-size: 1em; }
.u-lContent h5 {
  font-size: 1em; }
.u-lContent h6 {
  font-size: .8em;
  margin-top: 1.4em; }
.u-lContent h2 a,
.u-lContent h3 a,
.u-lContent h4 a,
.u-lContent h5 a,
.u-lContent h6 a {
  border: none;
  font-weight: inherit; }
.u-lContent li {
  margin: 0 0 0.327em; }
.u-lContent ol
ul {
  margin: .64em 0; }
.u-lContent p {
  line-height: 1.4;
  margin: 0 0 .75em 0; }
.u-lContent td,
.u-lContent th,
.u-lContent li {
  line-height: 1.2; }
.u-lContent th {
  font-weight: bold; }

.u-pageTitle {
  font-weight: 300;
  margin-top: 0; }

@media screen and (min-width: 40em) {
  .u-lMain {
    font-size: 1.2em; } }
@media screen and (min-width: 62.5em) {
  .u-lMain {
    font-size: 1.4em; } }
@media screen {
  html {
    padding: 0; }

  body {
    margin: 0; }

  .u-lAside {
    display: none !important;
    visibility: hidden !important; }

  .u-lFooter {
    padding: 4em 8%; }

  .u-lMain {
    background-color: #fffef5;
    padding: 1em 4%; }

  .u-lHeader {
    padding: 8% 8% 0; }

  .u-pageHome h2:first-child {
    margin-top: 0; } }
@media screen and (min-width: 40em) {
  .u-lContent {
    float: none;
    margin: 0 auto;
    padding-right: 0; }

  .u-lFooter {
    padding: 2em 8%; }

  .u-lHeader {
    padding: 4% 4% 0; }

  .u-lMain {
    padding: 5em 8% 8%;
    width: 100%; } }
@media screen and (min-width: 50em) {
  .u-lHeader {
    padding-top: 3%; }

  .u-lContent {
    max-width: 35em;
    width: 85%; } }
@media screen and (min-width: 75em) {
  body {
    max-width: 100%; } }
.u-lContent a[href] {
  transition: background-color 0.075s ease, border 0.075s ease, color 0.075s ease; }
.u-lContent a[href]:focus,
.u-lContent a[href]:hover {
  background-color: #c91d1d;
  color: #fffef5; }
.u-lContent a[href]:focus,
.u-lContent a[href]:hover {
  border-radius: .25em; }
.u-lContent a[href]:visited {
  border-bottom-color: #b38080; }
.u-lContent a[href]:visited:focus,
.u-lContent a[href]:visited:hover {
  background-color: #b38080;
  color: #fffef5; }
.u-lContent a:not([href]) {
  color: inherit; }

html {
  color: #444; }

/* TYPOGRAPHY */
details summary > * {
  margin-left: 2.5vh; }

summary:focus,
summary:hover {
  cursor: pointer; }

.Course {
  margin-bottom: 0; }

.Course__dates {
  display: inline-block;
  font-style: italic;
  margin-bottom: .5em;
  margin-right: 1em; }

.Course__days {
  margin-right: .25em; }

.Course__description {
  display: block;
  margin-bottom: 1.25em; }

.Course__description,
.CoursePresenters {
  margin-left: 1em; }

.Course__limit {
  display: inline-block;
  margin-bottom: .75em; }

.Course__name,
.Course__producer {
  font-weight: bold; }

.Course__time {
  display: inline-block;
  margin-right: 1em;
  text-transform: lowercase; }

.Course__title {
  font-size: 1.25em !important;
  margin-bottom: .15em;
  margin-top: -.95em; }

.CourseList__heading {
  border-bottom: solid 0.025em rgba(89, 73, 58, 0.75);
  font-size: 1.4em !important;
  margin-bottom: .5em;
  margin-top: .75em; }

.CourseList__heading-bold:first-of-type {
  margin-bottom: 1em; }

.CoursePresenters {
  font-size: .9em;
  margin-bottom: 2em; }

.CoursePresenters__name {
  font-size: 1.1em; }

.u-folderCourses .ac-NavAnchor--top,
.u-folderCourses .ac-NavAnchor--top svg {
  display: block !important;
  visibility: visible !important; }

.u-folderCourses .ac-NavAnchor--top path {
  fill: #aaa; }

.u-folderCourses .ac-NavAnchor--top svg {
  width: 100%; }

.u-folderCourses .ac-NavAnchor--top {
  background-color: #e6e6e6;
  border-bottom-left-radius: .25em;
  border-top-left-radius: .25em;
  bottom: 1em;
  color: #aaa;
  font-weight: bold;
  position: fixed;
  right: 0;
  width: 4em;
  z-index: 2; }

.u-folderCourses .ac-NavAnchor--top:after {
  border-bottom: 0; }

.u-folderCourses .ac-NavAnchor--top:hover,
.u-folderCourses .ac-NavAnchor--top:hover path {
  background-color: gray;
  color: #fff;
  fill: #fff; }

.u-folderCourses .ac-NavAnchor--top:hover:after {
  border: 0; }

/* LAYOUT */
@media screen {
  .Course__title {
    display: block; }

  .CourseList {
    margin-top: 2.5em; }

  .CoursePresenters {
    background-color: #fffffa;
    border-radius: .125em;
    border: solid .05em #aaa;
    padding: 0 2em 1em; }

  .CoursePresenters__description {
    display: block;
    padding-top: .25em; }

  .CoursePresenters__name {
    display: block;
    font-weight: bold;
    margin-top: 1.2em; } }
@media screen and (min-width: 40em) {
  .u-folderCourses .ac-NavAnchor--top {
    background-color: rgba(128, 128, 128, 0.2); }

  .u-folderCourses .ac-NavAnchor--top:hover,
  .u-folderCourses .ac-NavAnchor--top:hover path {
    background-color: rgba(128, 128, 128, 0.5); } }
.u-lContent [href*=".pdf"] {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 551 551"><style>path{fill:%23e01f00}path[fill="%23fff"]{fill:%23fff}</style><path fill="%23fff" d="M86 540V11h229l149 160v369z"/><path d="M310 22l75 80 67 73v354H98V22h213m10-22H75v551h399V166l-73-79-81-87z"/><path d="M0 220h551v264H0z"/><path d="M310 175V0l165 175z"/><path fill="%23fff" d="M155 363c-9 8-22 12-40 12H82v63H50V263h68c15 0 28 5 37 14s14 23 14 42c0 20-5 35-14 44zm-25-63c-4-4-10-6-18-6H83v51h29c8 0 14-2 18-6s6-11 6-20-2-16-6-19zm175-33c11 4 20 12 27 22 5 9 9 18 11 29l3 28c0 24-4 43-13 59a56 56 0 0 1-53 33h-68V263h68l25 4zm-61 27v114h31c15 0 26-9 33-26 3-9 5-20 5-33 0-18-3-32-8-41-5-10-15-14-30-14h-31zm144-30h112v30h-80v41h70v30h-70v73h-33V264z"/></svg>'), linear-gradient(transparent, transparent); }

.u-lContent [href*=".pdf"]:hover {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 551 551"><style>path{fill:%23fff}path[fill="%23fff"]{fill:%23e01f00}</style><path fill="%23fff" d="M86 540V11h229l149 160v369z"/><path d="M310 22l75 80 67 73v354H98V22h213m10-22H75v551h399V166l-73-79-81-87z"/><path d="M0 220h551v264H0z"/><path d="M310 175V0l165 175z"/><path fill="%23fff" d="M155 363c-9 8-22 12-40 12H82v63H50V263h68c15 0 28 5 37 14s14 23 14 42c0 20-5 35-14 44zm-25-63c-4-4-10-6-18-6H83v51h29c8 0 14-2 18-6s6-11 6-20-2-16-6-19zm175-33c11 4 20 12 27 22 5 9 9 18 11 29l3 28c0 24-4 43-13 59a56 56 0 0 1-53 33h-68V263h68l25 4zm-61 27v114h31c15 0 26-9 33-26 3-9 5-20 5-33 0-18-3-32-8-41-5-10-15-14-30-14h-31zm144-30h112v30h-80v41h70v30h-70v73h-33V264z"/></svg>'); }

/* 
.Committee__list
{
    margin-top: .25em;
    padding-left: 0;
    list-style: circle;
}
*/
.Committee__desc,
.AdditionalSupport__desc {
  margin-left: 0;
  margin-bottom: 1.5em; }

.Committee__name,
.AdditionalSupport__name {
  color: #888144;
  font-size: 1.3em; }

.AdditionalSupport__header {
  font-size: 1.5em;
  margin: 1.5em 0 .25em;
  display: block; }

@media screen {
  .u-lFooter {
    background-color: #262626;
    color: #cccccc; } }
.u-lHeader {
  background-color: #59493a;
  border-bottom: solid rgba(32, 25, 19, 0.66) 0.3em; }

.u-Masthead__siteName {
  font-family: "europa", sans-serif;
  font-family: "mrs-eaves-roman-petite-caps", sans-serif;
  font-weight: normal;
  letter-spacing: .005em;
  line-height: .7;
  margin: 0 0 .5em;
  text-shadow: 0.04em 0.04em 0.01em rgba(0, 0, 0, 0.5); }

.u-Masthead__siteName--link:link,
.u-Masthead__siteName--link:visited {
  color: #fffef5 !important; }

@media screen {
  .u-lHeader {
    padding: 0; }

  .u-Masthead {
    margin-top: 3.75em;
    position: relative; }

  .u-Masthead .icon-back svg {
    float: none;
    vertical-align: middle;
    height: auto;
    width: 100%; }

  .u-Masthead__siteName {
    margin-bottom: 0; }

  .u-Masthead__siteName--link {
    display: inline-block;
    padding-bottom: .25em;
    padding-top: .25em; }

  .u-Masthead__vassar {
    height: auto; }

  .u-Masthead__vassar--link {
    display: block;
    height: auto;
    line-height: 1;
    margin-top: 3.25em;
    min-height: 0;
    min-width: 0;
    position: relative;
    padding: 8%;
    width: 100%;
    z-index: 1; }

  .u-Masthead__vassar--link:hover path {
    fill: #000; }

  .u-Masthead__vassar--link:focus,
  .u-Masthead__vassar--link:hover {
    background-color: #fff; }

  .u-Masthead__vassar--link > svg {
    display: none !important;
    visibility: hidden !important; }

  .u-ExtendedHeader {
    margin: 0 -10% 0; }

  .u-ExtendedHeader img {
    width: 84%; } }
@media screen and (min-width: 12em) {
  .u-Masthead .icon-back svg {
    margin: 0 .5em; }

  .u-Masthead__ID {
    left: 5%;
    position: absolute;
    right: 5%;
    top: 35%; }

  .u-Masthead__siteName {
    font-size: 18vw; }

  .u-Masthead__vassar--link {
    height: auto;
    line-height: 0;
    margin-top: 0;
    max-width: 50%;
    min-height: 0;
    min-width: 0;
    padding: 13% 0; } }
@media screen and (min-width: 16em) {
  .u-ExtendedHeader img {
    height: auto; }

  .u-Masthead__siteName {
    font-size: 11vw; }

  .u-Masthead__vassar--link {
    padding: 10.05% 0; } }
@media screen and (min-width: 40em) {
  .u-Masthead__ID {
    display: block;
    left: 5%;
    position: relative;
    right: 5%;
    margin-top: 23%; }

  .u-Masthead__siteName {
    font-size: 8vw; }

  .u-Masthead__vassar {
    position: absolute;
    right: auto;
    width: 100%; }

  .u-Masthead__vassar--link {
    left: 1.5%;
    min-height: auto;
    padding: 0;
    width: 18%; }

  .u-Masthead .icon-back svg {
    width: auto; }

  .u-Masthead__vassar--link svg {
    display: block !important;
    visibility: visible !important;
    filter: url(#dropshadow); }

  .u-Masthead__vassar--link > svg {
    display: none !important;
    visibility: hidden !important; } }
@media screen and (min-width: 50em) {
  .u-Masthead__siteName {
    font-size: 6vw; }

  .u-Masthead__vassar--link {
    float: right;
    left: auto;
    right: 5%;
    width: 12%; }

  .u-Masthead__vassar--link:hover path {
    fill: inherit; }

  .u-Masthead__vassar--link:focus,
  .u-Masthead__vassar--link:hover {
    background-color: transparent; } }
@media screen and (min-width: 68em) {
  .u-Masthead__siteName {
    font-size: 4.08em; }

  .u-Masthead__vassar {
    top: 2.04em; }

  .u-Masthead__vassar--link {
    width: 8.16em; }

  .u-Masthead__ID {
    margin-top: 0; } }
.u-Masthead__siteName {
  background: -moz-linear-gradient(bottom, #000 0%, transparent 100%);
  background: -webkit-linear-gradient(bottom, #000 0%, transparent 100%);
  background: linear-gradient(to top, #000 0%, transparent 100%);
  bottom: 0;
  left: 0;
  margin-bottom: 0;
  position: absolute;
  padding-left: 3%;
  padding-top: .25em;
  right: 0; }

@media screen and (min-width: 40em) {
  .u-Masthead__siteName {
    margin-top: 1.4em; }

  .u-Masthead {
    margin-top: 0; } }
.ac-NavAnchor--menu {
  font-family: "source-sans-pro", sans-serif; }

@media screen {
  #navigation:target .u-NavSite__itemContainer:last-child .u-NavSite__item:after {
    border-bottom: 0; }

  .ac-NavAnchor--top {
    margin-bottom: 0; }

  .ac-NavAnchor--top,
  .u-NavSite__item {
    margin-top: 0;
    position: relative;
    transition: background-color 0.075s ease, border 0.075s ease, color 0.075s ease; }

  .ac-NavAnchor--top:after,
  .u-NavSite__item:after {
    border-bottom: solid .0125em;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0; }

  .ac-NavAnchor--top,
  .u-NavSite__item,
  .u-NavSite__item:visited {
    color: #fffef5; }

  .ac-NavAnchor--menu:hover,
  .ac-NavAnchor--top:hover,
  .u-NavSite__item:hover,
  .ac-NavAnchor--menu:focus,
  .ac-NavAnchor--top:focus,
  .u-NavSite__item:focus {
    background-color: #fffef5;
    color: #000;
    z-index: 1; }

  .ac-NavAnchor--top:hover:after,
  .u-NavSite__item:hover:after,
  .ac-NavAnchor--top:focus:after,
  .u-NavSite__item:focus:after {
    border-bottom: solid .0125em #000;
    border-top: solid .0125em #000;
    top: -.025em; }

  .u-NavSite__item--isCurrent {
    background-color: #fffef5;
    color: #000 !important;
    z-index: 1; }

  .u-NavSite {
    padding: 0; }

  .u-NavSite__item {
    padding: .5em 7%; }

  .u-VCard--site .u-List__itemContainer {
    margin: 0; }

  .u-NavSite__main {
    margin-bottom: 4em; }

  .u-NavSite__main,
  #navigation:target .u-NavSite__level--1 {
    background-color: #59493a; }

  .ac-NavAnchor--menu {
    line-height: 1.4;
    letter-spacing: normal;
    font-weight: normal;
    min-height: 0;
    min-width: 0;
    padding: 1em 0.6em; } }
@media screen and (min-width: 12em) {
  .ac-NavAnchor--menu {
    line-height: 0;
    position: absolute;
    right: 0; }

  .ac-NavAnchor--menu {
    padding: 13% 0.6em; } }
@media screen and (min-width: 16em) {
  .ac-NavAnchor--menu {
    padding-top: 10%;
    padding-bottom: 10%; } }
@media screen and (min-width: 40em) {
  .u-NavSite {
    font-size: 1em;
    position: absolute;
    text-align: center;
    width: 100%; }

  .u-NavSite__item {
    font-size: .925em;
    letter-spacing: -.025em;
    padding: 1em .3em; }

  .u-NavSite__item,
  .u-NavSite__item:visited {
    color: #1c1712; }

  .u-NavSite__item:after {
    border-bottom-color: #59493a; }

  .u-NavSite__item:hover:after,
  .u-NavSite__item:visited:hover:after {
    border-bottom: solid .33em #000; }

  .u-NavSite__item--isCurrent {
    background-color: #ecd8c6; }

  .u-NavSite__item--isCurrent:hover:after,
  .u-NavSite__item--isCurrent:visited:hover:after {
    border-bottom-color: #fffef5; }

  .u-NavSite__item:hover,
  .u-NavSite__item:visited:hover {
    background-color: #59493a;
    color: #fffef5;
    padding-bottom: 1.25em; }

  .u-NavSite__item--isCurrent:hover,
  .u-NavSite__item--isCurrent:visited:hover {
    padding-bottom: 1em; }

  .u-NavSite__item--isCurrent:link:after {
    border: 0;
    border-bottom: solid 0.33em #59493a; }

  .u-NavSite__itemContainer {
    display: inline-block; }

  .u-NavSite__level--1 {
    width: 100%; }

  .u-NavSite__main,
  #navigation:target .u-NavSite__level--1 {
    background-color: #fffef5; } }
@media screen and (min-width: 45em) {
  .u-NavSite__item {
    font-size: 1em;
    letter-spacing: 0;
    padding: 1em .5em; } }
@media screen and (min-width: 56em) {
  .u-NavSite {
    font-size: 1.2em; }

  .u-NavSite__itemContainer {
    margin-top: 0; } }
.ac-NavAnchor--menu,
.ac-NavAnchor--menu:visited {
  color: #fff; }

.ac-NavAnchor--top {
  border-bottom: 0; }

@media screen and (min-width: 50em) {
  .u-Search {
    width: 20.5%; } }
@media screen and (min-width: 62.5em) {
  .u-Search {
    float: left; } }
@media screen {
  .u-VCard--site .u-VCard__item:link,
  .u-VCard--site .u-List__item:link {
    border-bottom: 1px solid #cc000069;
    display: block;
    padding: .25em 0; }

  /*
      .u-VCard--site .u-VCard__item:link,
      .u-VCard--site .u-List__item:link,
      .u-VCard--site .u-VCard__item:link:visited,
      .u-VCard--site .u-List__item:link:visited,
      .u-VCard--site .u-VCard__fn:link,
      .u-VCard--site .u-VCard__fn:link:visited
      {
           color:hsl(0, 40%, 60%) !important;
      }
    */
  .u-VCard--site .u-VCard__fn:link {
    border: none;
    font-family: "mrs-eaves-roman-petite-caps", sans-serif;
    font-size: 2em;
    line-height: .8; }

  /*
      .u-VCard--site .u-VCard__item:link:hover,
      .u-VCard--site .u-List__item:link:hover,
      .u-VCard--site .u-VCard__item:hover:visited,
      .u-VCard--site .u-List__item:hover:visited
      {
          background-color: $primaryColor;
          color:$secondaryColor !important;
      }
      */
  .u-VCard__adr {
    line-height: 1.3;
    margin-bottom: .75em; }

  .u-VCard__labeloffice,
  .u-VCard__labelphone {
    display: none !important;
    visibility: hidden !important; }

  .u-VCard .u-VCard__info,
  .u-VCard .u-List {
    margin-bottom: 1.2em; }

  .u-VCard__url {
    padding-bottom: .175em !important; } }
@media screen and (min-width: 18em) {
  .u-VCard--site .u-VCard__item:link,
  .u-VCard--site .u-List__item:link {
    display: inline-block;
    width: 50%; }

  .u-VCard--site .u-VCard__fn:link {
    width: auto; } }
@media screen and (min-width: 40em) {
  .u-VCard--site .u-VCard__item:link,
  .u-VCard--site .u-List__item:link {
    margin: 0 .5em;
    padding: 0 .5em;
    width: auto; }

  .u-VCard--site .u-VCard__fn:link {
    font-size: 2.25em; } }
.u-VCard--site .u-VCard__item:link,
.u-VCard--site .u-List__item:link,
.u-VCard--site .u-VCard__item:link:visited,
.u-VCard--site .u-List__item:link:visited {
  transition: background-color 0.075s ease, border 0.075s ease, color 0.075s ease;
  border-bottom-color: #e8847d;
  color: #e8847d; }

.u-VCard--site .u-List__item:link:focus,
.u-VCard--site .u-VCard__item:link:focus,
.u-VCard--site .u-List__item:link:hover,
.u-VCard--site .u-VCard__item:link:hover {
  background-color: #fff;
  border-bottom-color: #fff;
  border-radius: .125em;
  color: #673509; }

/****************************************
/* print.scss */
/****************************************/
/* Vassar College Print Stylesheet
 * v1.0
 * Last Updated: 2012-06-12 
 */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    filter: none !important;
    -ms-filter: none !important;
    text-shadow: none !important; }

  @page {
    margin: 1.5cm 1cm; }
  a,
  a:visited {
    color: #444 !important;
    text-decoration: underline; }

  /**
   * Add this for hrefs to be revealed
   * Be careful, can lead to poor readability and more pages printed.
   */
  /*  
  a[href]:after
  {
  	content:" (" attr(href) ")";
  }
  
  abbr[title]:after
  {
  	content:" (" attr(title) ")";
  }
  
  a[href^="javascript:"]:after, 
  a[href^="#"]:after
  {
  	content:"";
  }
  */
  body {
    margin: 1em 2em; }

  h1 {
    margin-top: 0; }

  h2,
  h3 {
    page-break-after: avoid; }

  h2,
  h3,
  p {
    orphans: 3;
    widows: 3; }

  img {
    height: auto;
    max-width: 400px; }

  img,
  tr {
    page-break-inside: avoid; }

  p {
    margin-bottom: 1em; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  .ac-hiddenVisually,
  .ac-NavAnchor,
  .u-Search,
  .nav {
    display: none; }

  .figure {
    margin-bottom: 1em; }

  .u-lFooter {
    margin-top: 2em; }

  .u-lFooter .u-VCard__info,
  .u-lFooter .u-List--site {
    list-style: none;
    float: none;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    width: 100%; }

  .u-lFooter .u-List__itemContainer {
    float: left;
    margin-right: 1em; }

  .u-lFooter a {
    border-bottom: 0 !important; }

  .u-lHeader {
    margin-top: 0; }

  .u-pageTitle {
    margin-top: .5em; }

  .u-ExtendedHeader img {
    display: none; }

  .u-Masthead__siteName,
  .u-Masthead__siteName:visited,
  .u-Masthead__siteName--link:link,
  .u-Masthead__siteName--link:visited {
    color: #000 !important;
    text-shadow: none !important; }

  .u-Masthead__siteName--link,
  .u-Masthead__siteName {
    font-size: 2em;
    text-decoration: none;
    border-bottom: 0; } }
/* layout.scss */
@media screen and (min-width: 50em) {
  html {
    padding: 0; }

  /*
      .u-lMain
      {
  		width: 100%;
  	}
      
  	.u-NavSite
      {
  		width: auto;
  	}
      */ }
/*
@media screen and (min-width: 0em){html:before{background-color:rgba(41,41,41,0.75);bottom:0;color:#eee;content:"0 em";font-size:1em;font-weight:bold;padding:1em;position:fixed;right:0;text-align:center;z-index:10}}@media screen and (min-width: 0em){html:before{content:"0 em"}}@media screen and (min-width: 1em){html:before{content:"1 em"}}@media screen and (min-width: 2em){html:before{content:"2 em"}}@media screen and (min-width: 3em){html:before{content:"3 em"}}@media screen and (min-width: 4em){html:before{content:"4 em"}}@media screen and (min-width: 5em){html:before{content:"5 em"}}@media screen and (min-width: 6em){html:before{content:"6 em"}}@media screen and (min-width: 7em){html:before{content:"7 em"}}@media screen and (min-width: 8em){html:before{content:"8 em"}}@media screen and (min-width: 9em){html:before{content:"9 em"}}@media screen and (min-width: 10em){html:before{content:"10 em"}}@media screen and (min-width: 11em){html:before{content:"11 em"}}@media screen and (min-width: 12em){html:before{content:"12 em"}}@media screen and (min-width: 13em){html:before{content:"13 em"}}@media screen and (min-width: 14em){html:before{content:"14 em"}}@media screen and (min-width: 15em){html:before{content:"15 em"}}@media screen and (min-width: 16em){html:before{content:"16 em"}}@media screen and (min-width: 17em){html:before{content:"17 em"}}@media screen and (min-width: 18em){html:before{content:"18 em"}}@media screen and (min-width: 19em){html:before{content:"19 em"}}@media screen and (min-width: 20em){html:before{content:"20 em"}}@media screen and (min-width: 21em){html:before{content:"21 em"}}@media screen and (min-width: 22em){html:before{content:"22 em"}}@media screen and (min-width: 23em){html:before{content:"23 em"}}@media screen and (min-width: 24em){html:before{content:"24 em"}}@media screen and (min-width: 25em){html:before{content:"25 em"}}@media screen and (min-width: 26em){html:before{content:"26 em"}}@media screen and (min-width: 27em){html:before{content:"27 em"}}@media screen and (min-width: 28em){html:before{content:"28 em"}}@media screen and (min-width: 29em){html:before{content:"29 em"}}@media screen and (min-width: 30em){html:before{content:"30 em"}}@media screen and (min-width: 31em){html:before{content:"31 em"}}@media screen and (min-width: 32em){html:before{content:"32 em"}}@media screen and (min-width: 33em){html:before{content:"33 em"}}@media screen and (min-width: 34em){html:before{content:"34 em"}}@media screen and (min-width: 35em){html:before{content:"35 em"}}@media screen and (min-width: 36em){html:before{content:"36 em"}}@media screen and (min-width: 37em){html:before{content:"37 em"}}@media screen and (min-width: 38em){html:before{content:"38 em"}}@media screen and (min-width: 39em){html:before{content:"39 em"}}@media screen and (min-width: 40em){html:before{content:"40 em"}}@media screen and (min-width: 41em){html:before{content:"41 em"}}@media screen and (min-width: 42em){html:before{content:"42 em"}}@media screen and (min-width: 43em){html:before{content:"43 em"}}@media screen and (min-width: 44em){html:before{content:"44 em"}}@media screen and (min-width: 45em){html:before{content:"45 em"}}@media screen and (min-width: 46em){html:before{content:"46 em"}}@media screen and (min-width: 47em){html:before{content:"47 em"}}@media screen and (min-width: 48em){html:before{content:"48 em"}}@media screen and (min-width: 49em){html:before{content:"49 em"}}@media screen and (min-width: 50em){html:before{content:"50 em"}}@media screen and (min-width: 51em){html:before{content:"51 em"}}@media screen and (min-width: 52em){html:before{content:"52 em"}}@media screen and (min-width: 53em){html:before{content:"53 em"}}@media screen and (min-width: 54em){html:before{content:"54 em"}}@media screen and (min-width: 55em){html:before{content:"55 em"}}@media screen and (min-width: 56em){html:before{content:"56 em"}}@media screen and (min-width: 57em){html:before{content:"57 em"}}@media screen and (min-width: 58em){html:before{content:"58 em"}}@media screen and (min-width: 59em){html:before{content:"59 em"}}@media screen and (min-width: 60em){html:before{content:"60 em"}}@media screen and (min-width: 61em){html:before{content:"61 em"}}@media screen and (min-width: 62em){html:before{content:"62 em"}}@media screen and (min-width: 63em){html:before{content:"63 em"}}@media screen and (min-width: 64em){html:before{content:"64 em"}}@media screen and (min-width: 65em){html:before{content:"65 em"}}@media screen and (min-width: 66em){html:before{content:"66 em"}}@media screen and (min-width: 67em){html:before{content:"67 em"}}@media screen and (min-width: 68em){html:before{content:"68 em"}}@media screen and (min-width: 69em){html:before{content:"69 em"}}@media screen and (min-width: 70em){html:before{content:"70 em"}}@media screen and (min-width: 71em){html:before{content:"71 em"}}@media screen and (min-width: 72em){html:before{content:"72 em"}}@media screen and (min-width: 73em){html:before{content:"73 em"}}@media screen and (min-width: 74em){html:before{content:"74 em"}}@media screen and (min-width: 75em){html:before{content:"75 em"}}@media screen and (min-width: 76em){html:before{content:"76 em"}}@media screen and (min-width: 77em){html:before{content:"77 em"}}@media screen and (min-width: 78em){html:before{content:"78 em"}}@media screen and (min-width: 79em){html:before{content:"79 em"}}@media screen and (min-width: 80em){html:before{content:"80 em"}}@media screen and (min-width: 81em){html:before{content:"81 em"}}@media screen and (min-width: 82em){html:before{content:"82 em"}}@media screen and (min-width: 83em){html:before{content:"83 em"}}@media screen and (min-width: 84em){html:before{content:"84 em"}}@media screen and (min-width: 85em){html:before{content:"85 em"}}@media screen and (min-width: 86em){html:before{content:"86 em"}}@media screen and (min-width: 87em){html:before{content:"87 em"}}@media screen and (min-width: 88em){html:before{content:"88 em"}}@media screen and (min-width: 89em){html:before{content:"89 em"}}@media screen and (min-width: 90em){html:before{content:"90 em"}}@media screen and (min-width: 91em){html:before{content:"91 em"}}@media screen and (min-width: 92em){html:before{content:"92 em"}}@media screen and (min-width: 93em){html:before{content:"93 em"}}@media screen and (min-width: 94em){html:before{content:"94 em"}}@media screen and (min-width: 95em){html:before{content:"95 em"}}@media screen and (min-width: 96em){html:before{content:"96 em"}}@media screen and (min-width: 97em){html:before{content:"97 em"}}@media screen and (min-width: 98em){html:before{content:"98 em"}}@media screen and (min-width: 99em){html:before{content:"99 em"}}@media screen and (min-width: 100em){html:before{content:"100 em"}}@media screen and (min-width: 101em){html:before{content:"101 em"}}@media screen and (min-width: 102em){html:before{content:"102 em"}}@media screen and (min-width: 103em){html:before{content:"103 em"}}@media screen and (min-width: 104em){html:before{content:"104 em"}}@media screen and (min-width: 105em){html:before{content:"105 em"}}@media screen and (min-width: 106em){html:before{content:"106 em"}}@media screen and (min-width: 107em){html:before{content:"107 em"}}@media screen and (min-width: 108em){html:before{content:"108 em"}}@media screen and (min-width: 109em){html:before{content:"109 em"}}@media screen and (min-width: 110em){html:before{content:"110 em"}}@media screen and (min-width: 111em){html:before{content:"111 em"}}@media screen and (min-width: 112em){html:before{content:"112 em"}}@media screen and (min-width: 113em){html:before{content:"113 em"}}@media screen and (min-width: 114em){html:before{content:"114 em"}}@media screen and (min-width: 115em){html:before{content:"115 em"}}@media screen and (min-width: 116em){html:before{content:"116 em"}}@media screen and (min-width: 117em){html:before{content:"117 em"}}@media screen and (min-width: 118em){html:before{content:"118 em"}}@media screen and (min-width: 119em){html:before{content:"119 em"}}@media screen and (min-width: 120em){html:before{content:"120 em"}}@media screen and (min-width: 121em){html:before{content:"121 em"}}@media screen and (min-width: 122em){html:before{content:"122 em"}}@media screen and (min-width: 123em){html:before{content:"123 em"}}@media screen and (min-width: 124em){html:before{content:"124 em"}}@media screen and (min-width: 125em){html:before{content:"125 em"}}@media screen and (min-width: 126em){html:before{content:"126 em"}}@media screen and (min-width: 127em){html:before{content:"127 em"}}@media screen and (min-width: 128em){html:before{content:"128 em"}}@media screen and (min-width: 129em){html:before{content:"129 em"}}@media screen and (min-width: 130em){html:before{content:"130 em"}}@media screen and (min-width: 131em){html:before{content:"131 em"}}@media screen and (min-width: 132em){html:before{content:"132 em"}}@media screen and (min-width: 133em){html:before{content:"133 em"}}@media screen and (min-width: 134em){html:before{content:"134 em"}}@media screen and (min-width: 135em){html:before{content:"135 em"}}@media screen and (min-width: 136em){html:before{content:"136 em"}}@media screen and (min-width: 137em){html:before{content:"137 em"}}@media screen and (min-width: 138em){html:before{content:"138 em"}}@media screen and (min-width: 139em){html:before{content:"139 em"}}@media screen and (min-width: 140em){html:before{content:"140 em"}}@media screen and (min-width: 141em){html:before{content:"141 em"}}@media screen and (min-width: 142em){html:before{content:"142 em"}}@media screen and (min-width: 143em){html:before{content:"143 em"}}@media screen and (min-width: 144em){html:before{content:"144 em"}}@media screen and (min-width: 145em){html:before{content:"145 em"}}@media screen and (min-width: 146em){html:before{content:"146 em"}}@media screen and (min-width: 147em){html:before{content:"147 em"}}@media screen and (min-width: 148em){html:before{content:"148 em"}}@media screen and (min-width: 149em){html:before{content:"149 em"}}
*/
