/* TYPOGRAPHY */

details summary>*
{
    margin-left: 2.5vh;
}

summary:focus,
summary:hover
{
    cursor: pointer;
}

.Course
{
    margin-bottom: 0;
}

.Course__dates
{
    display: inline-block;
    font-style: italic;
    margin-bottom: .5em;
    margin-right: 1em;
}

.Course__days
{
    margin-right: .25em;
}

.Course__description
{
    display: block;
    margin-bottom: 1.25em;
}

.Course__description,
.CoursePresenters
{
    margin-left: 1em;
}

.Course__limit
{
    display: inline-block;
    margin-bottom:.75em;
}

.Course__name,
.Course__producer
{
    font-weight: bold;
}

.Course__time
{
    display: inline-block;
    margin-right: 1em;
    text-transform: lowercase;
}

.Course__title
{
    font-size: 1.25em !important;
    margin-bottom: .15em;
    margin-top: -.95em;
}

.CourseList__heading
{
    border-bottom: solid 0.025em hsla(29, 21%, 29%, 0.75); //$primaryColor
    font-size: 1.4em !important;
    margin-bottom: .5em;
    margin-top: .75em;
}

.CourseList__heading-bold:first-of-type
{
    margin-bottom: 1em;
}

.CoursePresenters
{
    font-size: .9em;
    margin-bottom: 2em;
}

.CoursePresenters__name,
{
    font-size: 1.1em;
}

.u-folderCourses .ac-NavAnchor--top,
.u-folderCourses .ac-NavAnchor--top svg
{
    display: block !important;
    visibility: visible !important;
}

.u-folderCourses .ac-NavAnchor--top path
{
    fill:#aaa;
}

.u-folderCourses .ac-NavAnchor--top svg
{
    width:100%;
}

.u-folderCourses .ac-NavAnchor--top
{
    background-color:hsl(0, 0%, 90%);
    border-bottom-left-radius: .25em;
    border-top-left-radius: .25em;
    bottom:1em;
    color:#aaa;
    font-weight: bold;
    position:fixed;
    right:0;
    width:4em;
    z-index: 2;
}

.u-folderCourses .ac-NavAnchor--top:after
{
    border-bottom:0;
}

.u-folderCourses .ac-NavAnchor--top:hover,
.u-folderCourses .ac-NavAnchor--top:hover path
{
    background-color:hsl(0, 0%, 50%);
    color:#fff;
    fill:#fff;
}

.u-folderCourses .ac-NavAnchor--top:hover:after
{
    border:0;
}

/* LAYOUT */
@media screen
{    
    .Course__title
    {
        display: block;
    }

    .CourseList
    {
        margin-top:2.5em;
    }

    .CoursePresenters
    {
        background-color: $coursePresenterColor;
        border-radius: .125em;
        border: solid .05em #aaa;
        padding: 0 2em 1em;
    }

    .CoursePresenters__description
    {
        display: block;
        padding-top: .25em;
    }

    .CoursePresenters__name
    {
        display: block;
        font-weight: bold;
        margin-top:1.2em;
    }
}

@media screen and (min-width: $small)
{
    .u-folderCourses .ac-NavAnchor--top
    {
        background-color:hsla(0, 0%, 50%, .2);
    }
    
    .u-folderCourses .ac-NavAnchor--top:hover,
    .u-folderCourses .ac-NavAnchor--top:hover path
    {
        background-color:hsla(0, 0%, 50%, .5);
    }
}







    
    .u-lContent [href*=".pdf"]
   {
       background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 551 551"><style>path{fill:%23e01f00}path[fill="%23fff"]{fill:%23fff}<\/style><path fill="%23fff" d="M86 540V11h229l149 160v369z"/><path d="M310 22l75 80 67 73v354H98V22h213m10-22H75v551h399V166l-73-79-81-87z"/><path d="M0 220h551v264H0z"/><path d="M310 175V0l165 175z"/><path fill="%23fff" d="M155 363c-9 8-22 12-40 12H82v63H50V263h68c15 0 28 5 37 14s14 23 14 42c0 20-5 35-14 44zm-25-63c-4-4-10-6-18-6H83v51h29c8 0 14-2 18-6s6-11 6-20-2-16-6-19zm175-33c11 4 20 12 27 22 5 9 9 18 11 29l3 28c0 24-4 43-13 59a56 56 0 0 1-53 33h-68V263h68l25 4zm-61 27v114h31c15 0 26-9 33-26 3-9 5-20 5-33 0-18-3-32-8-41-5-10-15-14-30-14h-31zm144-30h112v30h-80v41h70v30h-70v73h-33V264z"/></svg>'),linear-gradient(transparent, transparent);
   }
    
    .u-lContent [href*=".pdf"]:hover
    {
        background-image:url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 551 551"><style>path{fill:%23fff}path[fill="%23fff"]{fill:%23e01f00}<\/style><path fill="%23fff" d="M86 540V11h229l149 160v369z"/><path d="M310 22l75 80 67 73v354H98V22h213m10-22H75v551h399V166l-73-79-81-87z"/><path d="M0 220h551v264H0z"/><path d="M310 175V0l165 175z"/><path fill="%23fff" d="M155 363c-9 8-22 12-40 12H82v63H50V263h68c15 0 28 5 37 14s14 23 14 42c0 20-5 35-14 44zm-25-63c-4-4-10-6-18-6H83v51h29c8 0 14-2 18-6s6-11 6-20-2-16-6-19zm175-33c11 4 20 12 27 22 5 9 9 18 11 29l3 28c0 24-4 43-13 59a56 56 0 0 1-53 33h-68V263h68l25 4zm-61 27v114h31c15 0 26-9 33-26 3-9 5-20 5-33 0-18-3-32-8-41-5-10-15-14-30-14h-31zm144-30h112v30h-80v41h70v30h-70v73h-33V264z"/></svg>');
    }
